.row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.row > div {
  flex: 1;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 10px;
}
.container-homepage h1 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  font-weight: 700;
}

.container-homepage h2 {
  font-size: 1.8rem;
  color: gray;
  text-align: center;
}

.container-homepage h3 {
  font-size: 1.5rem;
  color: blue;
}
