.container-login-singup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
}

.form-box {
  background-color: white;
  border-radius: 12px;
  padding: 40px 50px;
  text-align: center;
  width: 450px;
}

.form-box h1 {
  margin-bottom: 30px;
  color: #333;
  font-size: 28px;
}
.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}
